
/* Center the map and icon-container */
.container {
    text-align: center;
}
/* Add margin to the top of the icon-container */
.icon-container {
    margin-top: 50px;
}
/* World map image */
#world-map {
    width: 80%;
    height: 80%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}
/* Position the location pin image on the map */
.location-pin {
    position: absolute; /* Set the position property of the location pin to absolute */
    top: 50%; /* Center the image vertically */
    transform: translateY(-50%); /* Center the image vertically */
    z-index: 1; /* Set the z-index property to ensure the image is on top of the map */
    width: 30px; /* Set the width property of the location pin to make it smaller */
}
/* India */
#location-pin-1 {
    top: 70%;
    left: 65%;
    background-size: contain;
    background-repeat: no-repeat;
}

/* #location-pin-1:hover{
    position: absolute;
    top: 40%;
    left: 59.5%;
    width: 100%;
    height: 50px;
    background-image: url("/static/img/India.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
} */

/* Denmark */
#location-pin-2 {
    top: 26%;
    left: 49.5%;
}
/* Belgium */
#location-pin-3 {
    top: 29%;
    left: 48.25%;
}
/* Pakistan */
#location-pin-4 {
    top: 37%;
    left: 58%;
}
/* South Korea */
#location-pin-5 {
    top: 34%;
    left: 66.5%;
}
/* Ghana */
#location-pin-6 {
    bottom: 25%;
    left: 10%;
}
/* Peru */
#location-pin-7 {
    bottom: 25%;
    left: 90%;
}
/* El Salvador */
#location-pin-8 {
    bottom: 15%;
    left: 90%;
}