@font-face {
  font-family: 'Quiosco';
  src: url('/static/fonts/QuioscoOne/QuioscoOne-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Quiosco';
}

.header {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.quote-box {
  background-color: black;
  color: white;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.quote-text {
  margin: 20px;
  font-size: 35px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

audio {
  margin-top: 20px;
}

/* .image {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;  
  
} */

.article {
  margin: 0 auto;
  font-size: large;
  width: 90%;
}

.article p {
  text-align: justify;
}

/* Center the main heading */
h1.text-center {
  text-align: center;
}

/* Center the subheading */
h2.text-center {
  text-align: center;
}

/* Add margin to the hr */
hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Add padding to the container */
.container {
  padding: 2rem;
}

/* Add margin to the image
.img-fluid {
  margin-bottom: 1rem;
} */

/* Adjust font size for quote */
p:nth-of-type(1) {
  font-size: 1.2rem;
}

/* Adjust font size for bio */
p:nth-of-type(2) {
  font-size: 1rem;
  line-height: 1.5;
}
  