<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    <div class="container">
        <h1>Mental Health Around the World</h1>
        <p>The Stories of International UMD Students</p>
        <div class="row">
            <div class="col-12">
                <img id="world-map" src="/static/img/worldmap.png" alt="World Map">
                {% for student in students %}
                <div class="map-pin" id="location-pin-{{ student.id }}">
                    <a href="/student/{{ student.id }}">
                        <img id="location-pin-{{ student.id }}" class="location-pin" src="/static/img/red_icon.png" alt="Location Pin">
                    </a>
                </div>
                {% endfor %}
                <div class="icon-container">
                    {% for student in students %}
                    <div>
                        <!-- Add the user icon/silhouette with the flag background for each student here -->
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
