<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ student.name }} | Student Details</title>
    <link rel="stylesheet" href="/static/css/student_detail_style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">{{ student.name }}</h1>
                <h2 class="text-center">{{ student.country }}</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="{{ url_for('static', filename='img/student_pics/' + student.picture) }}" class="img-fluid" alt="{{ student.name }}">
            </div>
            <div class="col-md-8">
                <h3>{{ student.title }}</h3>
                <h4>{{ student.subtitle }}</h4>
                <p>{{ student.quote }}</p>
                <audio controls>
                    <source src= "{{ url_for('static', filename='audio/' + student['audio_file']) }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <p>{{ article }}</p>
                <p><strong>Author:</strong> {{ student.author }}</p>
            </div>
        </div>
    </div>
</body>
</html>
