<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ student.name }} | Student Details</title>
    <link rel="stylesheet" href="/static/css/student_detail_style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="col-md-12">
                <h1 class="text-center"><strong>{{ student.title }}</strong></h1>
                <h2 class="text-center">{{ student.subtitle }}</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="image">
                <img src="{{ url_for('static', filename='img/student_pics/' + student.picture) }}" class="img-fluid" alt="{{ student.name }}">
            </div>
            <div class="col-md-8">
                <h3>{{ student.name }}</h3>
                <h4>{{ student.country }}</h4>
                <p>Author: {{ student.author }}</p>
                <div class="quote-box">
                    <p class="quote-text">{{ student.quote }}</p>
                    <audio controls>
                        <source src= "{{ url_for('static', filename='audio/' + student['audio_file']) }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>                
                <p>{{ article }}</p>
            </div>
        </div>
    </div>
</body>
</html>
