<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>

    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/css/home.css">


</head>

<header style="background-color: #E51D37; height: 75px; display: flex; align-items: center;">

    <a href="https://dbknews.com/" target="_blank">
        <img src="https://salaryguide.dbknews.com/1a8465ad87edba93883e5f4f6a380826.png"
            style="height: 40px; margin-right: 10px; margin-left: 10px;">
    </a>

    <h1 style="color: white; font-size: 24px; margin: 0; text-align: center;">Special Project
    </h1>


</header>


<body>
    <div class="container">
        <h1 style="font-family: 'Quiosco';  font-size: 40px;">Mental Health Around the World</h1>

        <p style="font-size: 18px;">
            Welcome! This project provides real quotes and captures experiences of mental health on international students. Simply click on a country from the map to learn more about a student's unique story. We hope that by sharing these stories, we can raise awareness and understanding of the challenges that international students may face, and promote a more supportive community for all.

        </p>
        <div class="row">
            <div class="col-12">
                <!-- <img id="world-map" src="/static/img/worldmap.png" alt="World Map"> -->

                <div id="mapid" style="width: 100%; height: 58vh;"></div>



       



                <script>
                    var mymap = L.map('mapid').setView([42, 4.8], 1);
                    mymap.dragging.disable();
                    mymap.touchZoom.disable();
                    mymap.doubleClickZoom.disable();
                    mymap.scrollWheelZoom.disable();
                    mymap.boxZoom.disable();
                    mymap.keyboard.disable();



                    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=sk.eyJ1IjoidGhlZGJrbGFiIiwiYSI6ImNsZjk1ZW1rbDAxcjYzeWxlempjcThoODkifQ.U8v4rpXJUH0S8Hnaj5pSHQ', {

                        dragging: false,
                        zoomControl: false,
                        minZoom: 2.5,
                        maxZoom: 5,
                        maxBounds: L.latLngBounds(
                            L.latLng(-90, -180), // Southwest corner
                            L.latLng(90, 180)    // Northeast corner
                        ),

                        maxBoundsViscosity: 1.0,
                        // id: 'mapbox/streets-v11',
                        id: 'mapbox/streets-v11',
                        tileSize: 512,
                        zoomOffset: -1,
                        accessToken: 'sk.eyJ1IjoidGhlZGJrbGFiIiwiYSI6ImNsZjk1ZW1rbDAxcjYzeWxlempjcThoODkifQ.U8v4rpXJUH0S8Hnaj5pSHQ',
                        style: {
                            text: ''
                        }
                    }).addTo(mymap);


                    var jainpur = L.marker([26.4237, 82.3885]).addTo(mymap);
                    jainpur.bindPopup("<b>India</b><br><a href='/student/1'><img src='../static/img/location_icons/1.png' style='width: 50px; height: 50px; object-fit: contain;'></a>", {
                        autoClose: false,
                        closeButton: false,
                        closeOnClick: false,
                    }).openPopup();

                    var denmark = L.marker([56.2639, 9.5018]).addTo(mymap);
                    denmark.bindPopup("<b>Denmark</b><br><a href='/student/2'><img src='../static/img/location_icons/2.png' style='width: 50px; height: 50px; object-fit: contain;'></a>", {
                        autoClose: false,
                        closeButton: false,
                        closeOnClick: false,
                    }).openPopup();

                    var belgium = L.marker([50.5039, 4.4699]).addTo(mymap);
                    belgium.bindPopup("<b>Belgium</b><br><a href='/student/3'><img src='../static/img/location_icons/3.png' style='width: 50px; height: 50px; object-fit: contain;'></a>", {
                        autoClose: false,
                        closeButton: false,
                        closeOnClick: false,
                        offset: [0, 30]
                    }).openPopup();



                    var pakistan = L.marker([30.3753, 69.3451]).addTo(mymap);
                    pakistan.bindPopup("<b>Pakistan</b><br><a href='/student/4'><img src='../static/img/location_icons/4.png' style='width: 50px; height: 50px; object-fit: contain;'></a>", {
                        autoClose: false,
                        closeButton: false,
                        closeOnClick: false,
                    }).openPopup();

                    var southKorea = L.marker([35.9078, 127.7669]).addTo(mymap);
                    southKorea.bindPopup("<b>South Korea</b><br><a href='/student/5'><img src='../static/img/location_icons/5.png' style='width: 50px; height: 50px; object-fit: contain;'></a>", {
                        autoClose: false,
                        closeButton: false,
                        closeOnClick: false,
                    }).openPopup();




                    var ghana = L.marker([7.9465, -1.0232]).addTo(mymap);
                    ghana.bindPopup("<b>Ghana</b><br><a href='/student/6'><img src='../static/img/location_icons/6.png' style='width: 50px; height: 50px; object-fit: contain;'></a>", {
                        autoClose: false,
                        closeButton: false,
                        closeOnClick: false,
                    }).openPopup();


                    var peru = L.marker([-9.1900, -75.0152]).addTo(mymap);
                    peru.bindPopup("<b>Peru</b><br><a href='/student/7'><img src='../static/img/location_icons/7.png' style='width: 50px; height: 50px; object-fit: contain;'></a>", {
                        autoClose: false,
                        closeButton: false,
                        closeOnClick: false,
                    }).openPopup();



                    var elSalvador = L.marker([13.7942, -88.8965]).addTo(mymap);
                    elSalvador.bindPopup("<b>El Salvador</b><br><a href='/student/8'><img src='../static/img/location_icons/8.png' style='width: 50px; height: 50px; object-fit: contain;'></a>", {
                        autoClose: false,
                        closeButton: false,
                        closeOnClick: false,
                    }).openPopup();

                </script>
            </div>
        </div>
    </div>
</body>

<footer style="background-color: #E51D37; color: white; margin: 0 auto; display: flex; justify-content: center; align-items: center;">
    <table style="padding: 30px;">
      <tr>
        <th style="font-size: 16px; font-weight: bold; border-right: 1px solid white; padding-right: 10px;">Reporting 📃</th>
        <th style="font-size: 16px; font-weight: bold; border-right: 1px solid white; padding-right: 10px;">Content Editing 📝</th>
        <th style="font-size: 16px; font-weight: bold; border-right: 1px solid white; padding-right: 10px;">Research 🔎</th>
        <th style="font-size: 16px; font-weight: bold; border-right: 1px solid white; padding-right: 10px;">Illustrations 📷</th>
        <th style="font-size: 16px; font-weight: bold; border-right: 1px solid white; padding-right: 10px;">Design &amp; Development 💻</th>
        <th style="font-size: 16px; font-weight: bold; padding-right: 10px;">Copy Editing 📰</th>
      </tr>
      <tr>
        <td style="text-align:center; font-size: 16px; padding-top: 5px; border-right: 1px solid white; padding-right: 10px;">
          Winter Hawk<br>
          Olivia Wolfson<br>
        </td>
        <td style="text-align:center; font-size: 16px; padding-top: 5px; border-right: 1px solid white; padding-right: 10px;">
          Anaya Truss-Williams<br>
          Monica Godnick
        </td>
        <td style="text-align:center; font-size: 16px; padding-top: 5px; border-right: 1px solid white; padding-right: 10px;">
          Winter Hawk<br>
          Illana Williams<br>
          Nick Elliott<br>
          Sasha Allen<br>
        </td>
        <td style="text-align:center; font-size: 16px; padding-top: 5px; border-right: 1px solid white; padding-right: 10px;">
          Taneen Momeni
        </td>
        <td style="text-align:center; font-size: 16px; padding-top: 5px; border-right: 1px solid white; padding-right: 10px;">
          Sri Kanipakala<br>
          Bobby Chen
        </td>
        <td style="text-align:center; font-size: 16px; padding-top: 5px;">
          <div style="text-align:center; column-count: 3;">
            Olivia Borgula<br>
            Harper Lawson<br>
            Caroline Baptista<br>
            Tolu Talabi<br>
            Alayna Brandolini<br>
            Matthew Castellanos<br>
            Madeline Moldrem<br>
            Ella Sherman<br>
            Eric Neugeboren<br>
            Nataraj Shivaprasad<br>
            Devon Milley
          </div>
        </td>
      </tr>
    </table>
  </footer>
  
  


</html>